.footer {

    background-color: $mainColor;
    padding: 0px;

    @media(max-width: 500px) {

        text-align: center;
    }

    .main-footer {

        padding-bottom: 20px;

        .social-media {

            display: flex;
            margin-top: 25px;

            @media(max-width: 500px) {

                justify-content: center;
                margin-bottom: 25px;
            }

            li {

                margin-right: 10px;

                a {

                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 50%;
                    color: #EEE;

                    i {

                        font-size: 16px;
                    }
                }
            }
        }

        .menu-title {

            color: #FFF;
            font-size: 20px;
            margin-bottom: 20px;
        }

        .identity .brand {
            @media(max-width: 500px) {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }

        .footer-list {

            li {

                margin-bottom: 10px;

                a {

                    color: #FFF;
                    opacity: .8;
                    font-size: 16px;

                    &.app {

                        opacity: 1;

                        img {
                            height: auto;
                            border-radius: 10px;
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    .copy-right {

        padding-top: 20px;
        border-top: .5px solid #d8f1e5;

        .footer-text {

            font-size: 16px;
            color: #FFF;

            .focus {

                color: $secondColor;
                font-weight: 500;
            }
        }

        .payment-method {

            text-align: right;

            @media(max-width: 500px) {

                text-align: center;
                margin-top: 20px;
            }

            [dir="rtl"] & {

                text-align: left;
            }
        }
    }
}


